[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking

[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git

[submodule "third_party/STB"]
	path = third_party/STB
	url = https://github.com/nothings/stb.git

[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git